@import url('https://fonts.googleapis.com/css?family=Mada|Nunito|Poppins|Ubuntu');

* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /*
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Mada', sans-serif;
  */
}

body {
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
img.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.search-wrapper {
	margin: 50px 0;
}

.search-box {
  height: 40px;
  width: 500px;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
  padding: 0 10px;
  margin: auto;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}

.wrap {
  width: 80%;
  margin: auto;
}

.item {
  background-color: DarkGrey;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid DarkGrey;
  border-radius: 15px;
  box-shadow: 5px 8px 13px DarkSlateGrey;
}
.item:hover {
  border-left: 5px solid IndianRed;
  border-right: 5px solid IndianRed;
}

.title {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: MidnightBlue;
  text-decoration: none;
}
.title:hover {
  color: IndianRed;
  font-size: 18px;
}

.description {
  padding: 5px;
  font-size: 12px;
  color: DarkSlateGray;
}
