@import url('https://fonts.googleapis.com/css?family=Mada|Nunito|Poppins|Ubuntu');

* {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /*
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Mada', sans-serif;
  */
}

body {
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
img.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.search-box {
  display: flex;
  flex-direction: column;
}

.random-link {
  text-decoration: none;
  color: DimGray;
  padding: 10px;
  margin: 40px auto 0 auto;
}
.random-link:hover {
  color: IndianRed;
}

.search-wrapper {
  display: inline-flex;
	margin: 0 auto 50px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 500px;
  font-size: 18px;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
  padding: 5px 15px;
}
.search-input:focus, .search-input:hover {
	border: 1px solid IndianRed;
}

i.fa {
  font-size: 24px;
  padding: 13px;
  margin-left: -50px;
  color: IndianRed;
  z-index: 1;
}
i.fa-times {
  cursor: pointer;
}

.wrap {
  width: 80%;
  margin: auto;
}

.item {
  background-color: DarkGrey;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid DarkGrey;
  border-radius: 15px;
  box-shadow: 5px 8px 13px DarkSlateGrey;
}
.item:hover {
  border-left: 5px solid IndianRed;
  border-right: 5px solid IndianRed;
}

.title {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: MidnightBlue;
  text-decoration: none;
}
.title:hover {
  color: IndianRed;
  font-size: 18px;
}

.description {
  padding: 5px;
  font-size: 12px;
  color: DarkSlateGray;
}
